.xCodeBlock_title {
  display: inline-block;
  font-size: smaller;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0 0.5em;
  background: gray;
  color: white;
}

.xCodeBlock_code {
  margin-top: -2px;
}

.xCodeBlock_code pre {
  margin-top: 0;
  padding: 0.5em;
  white-space: pre-wrap;
}
